h1{
    color: blue;
}

h2,h3 {
    color: red;
}

body {
    font-family: sans-serif;
}

.image {
    width : 75px;
    height: 75px;
}

.favorite {
    font-weight: bold;
    text-decoration: underline;
}

.normal {
    font-weight: normal;
}