main {
    font-family: sans-serif;
    article {
        display: grid;
        grid-template-columns: 200px 200px ; /** creates two columns */
        column-gap: 3rem;
        row-gap: 3rem;
        justify-content: space-around;

        section {
            border:1px solid darkgray;
            border-radius: 4px;
            padding: 10px;
            box-shadow: 4px 4px 4px darkgray;

        }
    }
}