body {
    font-family: sans-serif;

    > header { /* only direct descendant of article. */
        text-align: center;
        background-color: whitesmoke;
        width: 100%;

        h1 {
            color: Blue;
        }
    }
}


main {
    display: flex;
    flex-direction: row;

    aside {
        border: 1px solid darkgray;
        border-radius: 4px;
        padding: 10px;
        box-shadow: 4px 4px 4px darkgray;
        margin-right: 30px;
        width: 8rem;
    }

    article {
        column-gap: 1rem;
        row-gap: 1rem;


        section {
            text-align: left;
            border: 1px solid darkgray;
            border-radius: 4px;
            padding: 10px;
            box-shadow: 4px 4px 4px darkgray;

            header {
                font-size: 1.1rem;
            }
        }
    }

    section + section {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    main {
        aside {
            background-color: aliceblue;
        }
    }

}

@media (max-width: 576px) {
    main {
        aside {
            background-color: cadetblue;
        }
    }

}