main {
    font-family: sans-serif;
}

article {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    column-gap: 3rem;
    row-gap: 3rem;
    justify-content: space-around;
}

section {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 4px 4px 4px darkgray;
}

.first {
    grid-column: 1 / 5;
    grid-row: 1/1;
}
